<div class="container">
  <div class="footer-container">
    <div class="footer-col about">
      <h3>VỀ CHÚNG TÔI</h3>
      <div class="footer-underline"></div>
      <p>One Food là thương hiệu được thành lập vào năm 2025 với tiêu chí đặt chất lượng sản phẩm lên hàng đầu.</p>
      <div class="footer-socials">
        <a href="#" class="footer-social"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="footer-social"><i class="fab fa-twitter"></i></a>
        <a href="#" class="footer-social"><i class="fab fa-linkedin-in"></i></a>
        <a href="#" class="footer-social"><i class="fab fa-whatsapp"></i></a>
      </div>
    </div>
    <div class="footer-col links">
      <h3>LIÊN KẾT</h3>
      <div class="footer-underline"></div>
      <ul>
        <li><a href="#"><span>&#8594;</span> Về chúng tôi</a></li>
        <li><a href="#"><span>&#8594;</span> Thực đơn</a></li>
        <li><a href="#"><span>&#8594;</span> Điều khoản</a></li>
        <li><a href="#"><span>&#8594;</span> Liên hệ</a></li>
        <li><a href="#"><span>&#8594;</span> Tin tức</a></li>
      </ul>
    </div>
    <div class="footer-col menu">
      <h3>THỰC ĐƠN</h3>
      <div class="footer-underline"></div>
      <ul>
        <li><a href="#"><span>&#8594;</span> Điểm tâm</a></li>
        <li><a href="#"><span>&#8594;</span> Món chay</a></li>
        <li><a href="#"><span>&#8594;</span> Món mặn</a></li>
        <li><a href="#"><span>&#8594;</span> Nước uống</a></li>
        <li><a href="#"><span>&#8594;</span> Tráng miệng</a></li>
      </ul>
    </div>
    <div class="footer-col contact">
      <h3>LIÊN HỆ</h3>
      <div class="footer-underline"></div>
      <ul>
        <li><span class="footer-icon "><i class="fas fa-map-marker-alt"></i></span>
          <p class="title--mobile">
            19T Tân Chánh Hiệp 18, Phường Tân Chánh Hiệp, Quận 12, TP Hồ Chí Minh
          </p> 
        </li>
        <li><span class="footer-icon"><i class="fas fa-phone-alt"></i></span>0123 456 789<br>0987 654 321</li>
        <li><span class="footer-icon"><i class="fas fa-envelope"></i></span>abc@domain.com<br>infoabc@domain.com</li>
      </ul>
    </div>
  </div>
  <div class="footer--bottom">
    <p class="footer--bottom_banQuyen">©2025. All Rights Reserved</p>
  </div>
</div>
